<div>
  <h1 > Restful Tasks API</h1>
  <div>
    <form (submit)="postTask()">
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" placeholder="Task Title">
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" placeholder="Task Description">
      <input type="submit" value="Submit Task">
    </form>
  </div>

  <button (click)="getTasksFromService()" >Get all Tasks</button>

    <div *ngFor="let task of tasks" class="center">
      <h3 >{{task.title}}</h3>
      <button (click)="getOneTaskFromService(task._id)" >Show</button>
    </div>
    <app-task *ngIf="taskSelected" [taskToShow]="taskSelected" ></app-task>
    <!-- <div *ngIf="taskSelected" >
      <div>
        <h1>This is the Selected Task to show</h1>
        <h2>{{taskSelected.title}}</h2>
        <h3>{{taskSelected.description}} </h3>
        <button (click)="edit = true" >Edit</button>
        <button (click)="deleteTask(taskSelected._id)" >Delete</button>
      </div>
      <div *ngIf="edit" >
        <form (submit)="editTask(taskSelected._id)">
          <input type="text" name="taskSelected.title" [(ngModel)]="taskSelected.title" placeholder="{{taskSelected.title}}">
          <input type="text" name="taskSelected.description" [(ngModel)]="taskSelected.description" placeholder="{{taskSelected.description}}">
          <input type="submit" value="Submit Task">
        </form>
      </div>
    </div> -->
</div>
<router-outlet></router-outlet>